In [3]:
import pandas as pd

In [4]:
df1 = pd.read_csv("data/movies.csv")
display(df1.head())
display(df1.info())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

None

In [5]:
df1['movieId'].nunique()

9742

In [6]:
df2 = pd.read_csv("data/links.csv")
display(df2.head())
display(df2.info())

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

None

In [7]:
df2['movieId'].nunique()

9742

Don't need links.csv because it is just an id from imdb, tmdb and movieId is consistent across all

In [8]:
df3 = pd.read_csv("data/ratings.csv")
display(df3.head())
display(df3.info())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

None

In [9]:
df3['movieId'].nunique()

9724

In [10]:
df4 = pd.read_csv("data/tags.csv")
display(df4.head())
display(df4.info())

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

None

In [11]:
df4['movieId'].nunique()

1572

In [12]:
df4['tag'].value_counts()

In Netflix queue     131
atmospheric           36
thought-provoking     24
superhero             24
funny                 23
                    ...
small towns            1
In Your Eyes           1
Lloyd Dobbler          1
weak plot              1
Heroic Bloodshed       1
Name: tag, Length: 1589, dtype: int64

In [13]:
movie = df1.merge(df3,on='movieId')

In [14]:
movie.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [15]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   movieId    100836 non-null  int64
 1   title      100836 non-null  object
 2   genres     100836 non-null  object
 3   userId     100836 non-null  int64
 4   rating     100836 non-null  float64
 5   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

In [16]:
movie['movieId'].nunique()

9724

In [17]:
movie['title'] = movie.title.str.rsplit(' ',1).str[0]

<ipython-input-17-e188a0258020>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  movie['title'] = movie.title.str.rsplit(' ',1).str[0]

In [18]:
movie.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [21]:
movie = movie['genres'].str.get_dummies('|')
print (movie)

        (no genres listed)  Action  Adventure  Animation  Children  Comedy  \
0                        0       0          1          1         1       1
1                        0       0          1          1         1       1
2                        0       0          1          1         1       1
3                        0       0          1          1         1       1
4                        0       0          1          1         1       1
...                    ...     ...        ...        ...       ...     ...
100831                   0       1          0          1         0       1
100832                   0       0          0          1         0       1
100833                   0       0          0          0         0       0
100834                   0       1          0          1         0       0
100835                   0       0          0          0         0       1

        Crime  Documentary  Drama  Fantasy  Film-Noir  Horror  IMAX  Musical  \
0           0            0      0        1          0       0     0        0
1           0            0      0        1          0       0     0        0
2           0            0      0        1          0       0     0        0
3           0            0      0        1          0       0     0        0
4           0            0      0        1          0       0     0        0
...       ...          ...    ...      ...        ...     ...   ...      ...
100831      0            0      0        1          0       0     0        0
100832      0            0      0        1          0       0     0        0
100833      0            0      1        0          0       0     0        0
100834      0            0      0        0          0       0     0        0
100835      0            0      0        0          0       0     0        0

        Mystery  Romance  Sci-Fi  Thriller  War  Western
0             0        0       0         0    0        0
1             0        0       0         0    0        0
2             0        0       0         0    0        0
3             0        0       0         0    0        0
4             0        0       0         0    0        0
...         ...      ...     ...       ...  ...      ...
100831        0        0       0         0    0        0
100832        0        0       0         0    0        0
100833        0        0       0         0    0        0
100834        0        0       0         0    0        0
100835        0        0       0         0    0        0

[100836 rows x 20 columns]

In [22]:
df = df.join(df.pop('genres').str.get_dummies('|'))
print (df)

KeyError: 'genres'

Find a way to merge tags with nulls